body{
    text-align: -moz-center;
    text-align: -webkit-center;
}
.container {
    background: #565656;
    border: 3px solid black;
    border-radius: 15px;
    width: 95%;
    min-width: fit-content;
    min-height: fit-content;
    min-width: -moz-fit-content;
    align-content: center;
    text-align: -moz-center;
    text-align: center;
}
.nav{
padding: 1% 0% 1% 1%;
}
.nav a{4F
    margin-left: auto;
    margin-right: auto;
    width:90%;
    color: deepskyblue;
    background: #565656;
}
.table{

}
.table-column-queuetable{
    padding-right: 5px;
    vertical-align: top;
}
.table-column-toogle{
    padding-right: 5px;
    vertical-align: top;
}
.table-column-buildstable{
    padding-left: 5px;
    vertical-align: top;
    width: 250px;
}
.tablerow{
    color: khaki;
}
#queuetable {
      float:left;
      width:100%;
}
#buildstable{
    float:right;
    width:100%;
}
.queuetable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}
.queuetable tr {
    width:100%;
}
.queuetable td, .tablehead {
    border: 1px solid #3b3b3b;
    padding: 8px;

}
.tablehead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


.buildstable-testname{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.queuetable tr:nth-child(even){background-color: #434343;}

.queuetable tr:hover {background-color: #888;}

.blink_me {
  color:red;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

.success{
    color:white;
    background-color: #1ca400
}
.failure{
    color:white;
    background-color: #a40000
}

.table-div{
    width: 95%;
    padding-top: 50px;
    display: inline-table;
}
/*------------queue table---------------------*/
.srprofile{
    width: fit-content;
    width: -moz-fit-content;
   /* max-width: 300px;*/
    word-wrap: break-word;
    white-space: nowrap;
}
.tablecolumn {
    max-width: 500px;
    word-wrap: break-word;
    width: 100%;
}
.vm{
    width:50px;
}
.env{
    width:50px;
}
.time{
  display:none;
}
.highlight{

}
/*---------------build table--------------------*/
.status-column{
    font-size:12;
    text-align:center
}
.builds-tablecolumn{
    max-width: 200px;
    font-size: 12;
}
/*---------------link decoration--------------------*/
a:link {
  text-decoration: none;
  color:#fff;
  font-weight:bold;
  text-shadow:-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
}

a:visited {
  text-decoration: none;
  color:grey;
  font-weight:bold;
  text-shadow:1px 1px 2px #000;
}

a:hover {
  text-decoration: underline;
  color:#fff;
  font-weight:bold;
  text-shadow:-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
}

a:active {
  text-decoration: underline;
  color:#fff;
  font-weight:bold;
  text-shadow:-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
}
/*------------wrapper------------------------*/
.wrapper {
  text-align: center;
  width:fit-content;
  width: -moz-fit-content;
}
.wrapper-row{
    height:fit-content;
    height: 1%;
}
/*-------------------------*/

label {
  display: block;
  left: 0px;
  top: 0;
  position: relative;
  width: 300px;
  height: 40px;
  z-index: 10;
  line-height: 40px;
  font-weight: bold;
  background: #434343;
  border-radius: 10px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

label:after {
  content: "Only busy VMs";
  width: 150px;
  height: 40px;
  position: absolute;
  left: 0px;k
  top: 0px;
  display: block;
  background: #4CAF50;
  color:white;
   border-radius: 10px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

#checkbox {
  display: none;
}

:checked + label {
  left: 0px;
}

:checked + label:after {
  left: 150px;
  background: #4CAF50;
  color:white;
  content: "All VMs";
}
.nodisplay {
    display:none;
}