.container {
    background: #565656;
    border: 3px solid black;
    border-radius: 15px;
    margin: 2% 5% 2% 5%;
    width: 90%;
    min-width: fit-content;
    min-height: fit-content;
}
.nav{
padding: 2% 0% 2% 5%;
}
.nav a{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    color: deepskyblue;
    background: #565656;
}
.table{

}
.table-column-queuetable{
    padding-right: 10px;
    vertical-align: top;
}
.table-column-buildstable{
    padding-left: 10px;
    vertical-align: top;
    width: 250px;
}
.tablerow{
    color: khaki;
}
#queuetable {
      float:left;
      width:100%;
}
#buildstable{
    float:right;
    width:100%;
}
.queuetable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}
.queuetable tr {
    width:100%;
}
.queuetable td, .tablehead {
    border: 1px solid #3b3b3b;
    padding: 8px;

}
.tablehead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
.tablecolumn {
    max-width: 550px;
    word-wrap: break-word;
}
.builds-tablecolumn{
    max-width: 250px;
    font-size: 12;
}
.buildstable-testname{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index:1;
    margin: 0;
}

.queuetable tr:nth-child(even){background-color: #434343;}

.queuetable tr:hover {background-color: #888;}

.blink_me {
  color:red;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

.success{
    color:white;
    background-color: #1ca400
}
.failure{
    color:white;
    background-color: #a40000
}

.table-div{
    width: 100%;
    padding: 50px;
}
.vm{
    width:50px;
}
.env{
    width:50px;
}
.highlight{
    width:200px;
}
.status-column{
    font-size:12;
    text-align:center
}
#hint {
    content: attr(innerText);
    font-family: monospace;
    display: none;
    position: absolute;
    padding: 5px;
    margin: -15px auto auto 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px rgba(0,0,0,.3);
    background-color: #fff;
    z-index: 100500;
}