{% load humanize %}
<table id="queuetable1" class="table queuetable table-striped table-condensed">

    <thead class="tablehead">
    <td colspan="4">Already running</td>
    </thead>
    <tbody>
    {% for task in data %}
    <tr class="tablerow">
        <td class="srprofile highlight">{{ task.srprofile }}</td>
        <td class="tablecolumn">{{ task.testname }}</td>
        <td class="vm">{{ task.vm }}</td>
        <td class="env">{{ task.env }}</td>
        <td class="time">{{ task.duration }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table id="queuetable2" class="table queuetable table-striped table-condensed">

    <thead class="tablehead" style="background-color:#b9bb43;">
    <td colspan="4">Queue</td>
    </thead>
    <tbody>
    {% for task in data1 %}
    <tr class="tablerow">
        <td class="srprofile highlight">{{ task.srprofile }}</td>
        <td class="tablecolumn">{{ task.testname }}</td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>